* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

html,body { /* для резинового футера*/
  margin: 0;
  background-color: rgb(245, 251, 185);
  height: 100%; /* для резинового футера*/
}

#root { /* для резинового футера*/
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto; /* для резинового футера*/
}
   